@{
    ViewBag.Title = "Balance";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Vista de datos</title>
    <link rel="stylesheet" href="~/Content/Operacion/retiro.css">
    <script src="~/Scripts/Shared.js"></script>
</head>
<body>
    <div class="data-container">
        <br>
        <div class="instructions">El monto indicado excede el balance.</div>
        <br>
        <div class="button-container">
            <button class="button" onclick="goBack()">Atrás</button>
        </div>
    </div>
</body>
</html>
