@{
    ViewBag.Title = "Balance";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Vista de datos</title>
</head>
<body>
    <div class="data-container">

        <br>
        <div class="instructions">Reporte de la Operación</div>
        <br>

        <div class="data-label">Número de Tarjeta:</div>
        <div class="data-value" id="numeroTarjeta"></div>

        <div class="data-label">Fecha y Hora:</div>
        <div class="data-value" id="fechareporte"></div>

        <div class="data-label">Cantidad Retirada:</div>
        <div class="money" id="retiro"></div>

        <div class="data-label">Balance:</div>
        <div class="money" id="saldo"></div>

        <div class="button-container">
            <button class="button" onclick="goIndex()">Atrás</button>
            <button class="button" onclick="salir()">Salir</button>
        </div>
    </div>

    <link rel="stylesheet" href="~/Content/Operacion/balance.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        var idReporteOperacion = '@ViewBag.codigoOperacion'

    </script>
    <script src="~/Scripts/Operacion/reporteOperacion.js"></script>
    <script src="~/Scripts/shared.js"></script>
</body>
</html>
