
@{
    ViewBag.Title = "Retiro";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Cajero Automático</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/Operacion/retiro.js"></script>
    <script src="~/Scripts/Shared.js"></script>
    <link rel="stylesheet" href="~/Content/Operacion/retiro.css">
</head>
<body>
    <div class="keypad">
        <div class="input-container">
            <br>
            <div class="instructions">Ingrese monto a retirar</div>
            <br>

            <input type="text" id="inputField" readonly />
        </div>
        @Html.Partial("~/Views/Shared/_TecladoNumerico.cshtml")
        <div class="button-row">
            <button class="button" onclick="goBack()">Atrás</button>
        </div>
    </div>

</body>
</html>

