
@{
    ViewBag.Title = "Bloqueo";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/Acceso/bloqueo.css">

<div class="message-container">
    <p class="message">Su tarjeta ha sido bloqueada debido a los reiterados intentos fallidos!</p>
</div>

