
@{
    ViewBag.Title = "Bloqueo";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/Acceso/bloqueo.css">
<script src="~/Scripts/Shared.js"></script>

<div class="message-container">
    <div class="data-container">
        <p class="message">Su tarjeta ha sido bloqueada debido a los reiterados intentos fallidos!</p>
        <div class="button-row">
            <button class="button" onclick="salir()">Salir</button>
        </div>
    </div>
</div>
