
@{
    ViewBag.Title = "Bloqueo";
    Layout = null;
}

<style>
    .message-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .message {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
</style>

<div class="message-container">
    <p class="message">Su tarjeta ha sido bloqueada debido a los reiterados intentos fallidos!</p>
</div>

