@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Cajero Automático</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/Acceso/index.js"></script>
    <link rel="stylesheet" href="~/Content/Acceso/index.css">
</head>
<body>
    <div class="keypad">
        <br>
        <div class="instructions">Ingrese los 16 números de su tarjeta</div>
        <br>
        <div class="input-container">
            <input type="text" id="inputField" maxlength="19" readonly />
        </div>
        @Html.Partial("~/Views/Shared/_TecladoNumerico.cshtml")
    </div>
</body>
</html>
